body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 5%;
}

h1 {
  text-align: center;
}

#color-palette{
  margin: 5% 25% 10% 32%;
  position: relative;
}
 
#preto {
  border: solid black;
  border-width: 1px;
  background-color: black;
  padding: 40px;
  margin-right: 20px;
  display: inline-block;
}

#laranja {
  border: solid black;
  border-width: 1px;
  background-color: #FB5607;
  padding: 40px;
  display: inline-block;
  margin-right: 20px;
}

#rosa { 
  border: solid black;
  border-width: 1px;
  background-color: #FF006E;
  padding: 40px;
  display: inline-block;
  margin-right: 20px;
}

#roxo {
  border: solid black;
  border-width: 1px;
  background-color: #8338EC;
  padding: 40px;
  display: inline-block;
  margin-right: 20px;
}

/* OBS: a dica para fazer a junção dos quadrados encontrei nesse blog  -->  https://projects.raspberrypi.org/pt-BR/projects/pixel-art/2 */

#quadro-de-pixels {
  margin: 5% 25% 10% 32%;
  position: relative;
}

.aline-pixel1 {
  display: table-row;
}

.quadrados1 {
  border: solid black 1px;
  padding: 40px;
  display: table-cell;
}

.aline-pixel2 {
  display: table-row;
}

.quadrados2 {
  border: solid black 1px;
  padding: 40px;
  display: table-cell;
}

.aline-pixel3 {
  display: table-row;
}

.quadrados3 {
  border: solid black 1px;
  padding: 40px;
  display: table-cell;
}

.aline-pixel4 {
  display: table-row;
}

.quadrados4 {
  border: solid black 1px;
  padding: 40px;
  display: table-cell;
}

.aline-pixel5 {
  display: table-row;
}

.quadrados5 {
  border: solid black 1px;
  padding: 40px;
  display: table-cell;
}