body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 5%;
}

h1 {
  text-align: center;
}

#color-palette{
  margin: 5% 25% 2% 32%;
}

#preto {
  border: solid black;
  border-width: 1px;
  background-color: black;
  padding: 40px;
  margin-right: 20px;
  display: inline-block;
}

#laranja {
  border: solid black;
  border-width: 1px;
  background-color: #FB5607;
  padding: 40px;
  display: inline-block;
  margin-right: 20px;
}

#rosa { 
  border: solid black;
  border-width: 1px;
  background-color: #FF006E;
  padding: 40px;
  display: inline-block;
  margin-right: 20px;
}

#roxo {
  border: solid black;
  border-width: 1px;
  background-color: #8338EC;
  padding: 40px;
  display: inline-block;
  margin-right: 20px;
}

/* QUADRO DE PIXELS */

#pixel-board {
  margin: 8% 30% 10% 30%;
}

.pixel {
  border: solid black 1px;
  padding: 40px;
  display: inline-block;
  background-color: white;
}
